@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
body {
  background: rgba(0, 123, 123, 0.75);
  height: 100vh;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
.hide {
  display: none;
}
.app {
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
@media (min-width: 768px) {
  .app {
    gap: 20px;
  }
}
/* ========== Header Section ========== */
.header-section {
  width: 100%;
  border-bottom: 1px solid #dddddd50;
  margin-bottom: 10px;
}
.header-section .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}
#whatsapp,
#info {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#whatsapp i,
#info i {
  font-size: 40px;
  border-radius: 10px;
  color: #fff;
  transition: all 0.5s ease;
  padding: 5px;
}
#whatsapp:hover i {
  color: #25d366;
}
#info:hover i {
  color: #00ffff;
}
.info-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.95);
  z-index: 999;
  top: 0;
}
.info-box {
  width: 350px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  background: #00ffff;
  padding: 20px 10px;
  border-radius: 10px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.6;
  font-size: 20px;
}
.info-box-title {
  padding: 10px 0;
  border-bottom: 1px solid #333;
}
.info-box-text {
  font-size: 24px;
}
.info-container i {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 40px;
}
.info-container i:hover {
  color: #f00;
}
@media (min-width: 768px) {
  .info-container i {
    right: 20px;
    top: 20px;
  }
}
/* ========== Header Section ========== */
/* ========== Body Section ========== */
.body-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 10px;
}
.title {
  font-size: 36px;
  color: #fff;
  filter: drop-shadow(0px 5px 15px #fff);
  width: 100%;
}
.img img {
  max-width: 100%;
  border-radius: 10px;
}
.body-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  min-height: 400px;
  align-items: center;
  justify-content: space-between;
  background: #1b1b1b75;
  backdrop-filter: blur(25px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 25px #00ffff;
  overflow: hidden;
  position: relative;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
::selection {
  background: #fff;
  color: #000;
}
.aya,
#sura {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6;
  color: #fff;
  font-size: 26px;
  font-family: none;
}
.btn {
  flex-basis: 20%;
  border: 2px solid #fff;
  outline: none;
  background: #007b7bbf;
  padding: 15px 30px;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #007b7b;
  border: 2px solid #00ffff;
  text-shadow: 0 0 15px #fff;
  box-shadow: 0 0 10px #ddd;
}
#copy {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  padding: 10px;
  background: #00000050;
  color: #ececec;
  border-radius: 5px;
  font-size: 45px;
  transition: all 0.5s ease;
}
#copy:hover {
  color: #fff;
  background: #007b7b;
  box-shadow: 0 0 10px #00ffff;
}
/* ========== Body Section ========== */
/* ========== Visitors Section ========== */
.visits-container,
.date-container {
  display: flex;
  width: 100%;
  padding: 0 20px;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 540px) {
  .visits-container,
  .date-container {
    justify-content: center;
    flex-direction: row;
  }
}
.visits-container .content,
.date-container .content {
  padding: 10px;
  background: #00000099;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  width: 9rem;
}
@media (min-width: 540px) {
  .visits-container .content,
  .date-container .content {
    width: 250px;
  }
}
.date-container .content {
  justify-content: normal;
}
.visits-container .content h4,
.date-container .content h4 {
  font-size: 18px;
}
.visits-container .content span,
.day-container .content span {
  font-size: 24px;
  font-weight: bold;
  color: #00ffff;
}
.date-container .content span {
  font-weight: bold;
  font-size: 18px;
  color: #00ffff;
}
/* ========== Visitors Section ========== */
/* ========== Footer Section ========== */
.footer-section {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #1b1b1b75;
  text-shadow: 0 0 5px #00ffff;
  margin-top: 10px;
}
/* ========== Footer Section ========== */
